.tablesBG{
	background-color: white;
	height: 100vh;
	width: 100vw;
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.LeftPanel{
	width: 20%;
	border-right: 1px solid var(--1Col);
	overflow-y: inherit;
	overflow-x: hidden;
	resize: horizontal;
	max-width: 40vw;

}

.user{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 10vh;
	border-bottom: 1px solid var(--1Col);
}

.user:last-child{
	margin-bottom: 15vh;
}

.user > img{
	height: 9vh;
	width: 9vh;

	object-fit:cover;
	border-radius: 50%;
	border: 1px solid var(--1Col);

}

.user > p{
	width: 10vw;
}

.calendarDiv{
	width: 90vw;
    flex-grow: 2;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}


.user-color{
	position: relative;
	background-color: yellow;
	height: 3vh;
	margin: 3.5vh 0;
	width: 100px;
	border-bottom: 1px solid var(--1Col);
	border-left: 1px solid var(--1Col);

}

.RightPanel{
    width: 20vw;
    border-left: 1px solid black;
    overflow-y: inherit;
    overflow-x: hidden;
    direction: rtl;
    resize:  horizontal;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
}

.RightPanel-header{
	height: 30vh;
	width: 100%;
	background-color: red;

	justify-content: center;
    display: flex;
    align-items: center;
}

.panelNotes{
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow-y: scroll;
    width: 100%;
}

.react-calendar{
	height: 65%;
	width: 80%;
}

.react-calendar__month-view__days{
	height: 100%;
	width: 100%;
}

.react-calendar__month-view  > div> div{
	height: 50vh;
}

.react-calendar__tile{
	padding: 0;
}

.innerButton{
    margin-top: -20%;
    height: 120%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.innerButton > div{
	flex-grow: 1;
    opacity: 40%;
}

.react-calendar__tile--now{
	opacity: 100%;
	background:  #aaaaaa;
}

.react-calendar__month-view__days__day{
	border:  1px solid var(--2Col);
}
.taskContainer{
	display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;

}

.panelNotes::-webkit-scrollbar-track {
  border: 1px solid #ffffff;
  padding: 2px 0;
  background-color: var(--2Col);
}

.panelNotes::-webkit-scrollbar {
  width: 5px;
}

.panelNotes::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--2Col);
  border: 1px solid #ffffff;
}