{% extends "temp.html" %}

{% block header %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/cloudAnim.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/no_such_table.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/clouds.css' %}">

<title>{{ title }}</title>
{% endblock header %}


{% block body %}

	<form method="POST" >
		{% csrf_token %}
		<div class="loginSpace">
			<h1>Sorry, </h1>
			<h4>we couldn't find such table</h4>
			<a href="/">
				<input type="button" name="goToRegister" value="Go back ">
			</a>
			{% if error %}
			<div class="error">
				{{ error }}
			</div>
		{% endif %}
		
		</div>

		<div class="sky">
			 <div class="cloud"></div>
			 <div class="cloud"></div>
			 <div class="cloud"></div>
		</div>

	</form>

{% endblock body %}
