{% extends "temp.html" %}

{% block header %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/tables_cal.css' %}">

<title>{{ title }}</title>
{% endblock header %}


{% block body %}


	
	<div id="newTaskMenu" class="nohid">
		<div class="menuHeader" class="nohid">
			<span class="nohid">New task:</span>
		</div>
		<div class="menuinfo nohid" >
			<div>
				<label for="hour_task" class="nohid">Hour start:</label>
				<label for="hour_task" class="nohid">Hour end:</label>
				<label for="day_task" class="nohid">day:</label>
				
			</div>
			<div>
				<input type="time" id="hour_task_start" name="hour_task" class="nohid">
				<input type="time" id="hour_task_end" name="hour_task" class="nohid">
				<input type="date" id="day_task" name="day_task" class="nohid">
				
			</div>

			<label for="task_name" class="nohid">Task:</label>
			<input type="text"  id="task_name" name="task_name" class="nohid">
		
			<input type="button" id="send_task" name="AddTask" value="Add task" class="nohid">
			<div id="sendingError" class="nohid">
			</div>
		</div>
	</div>



<style type="text/css">
	:root{
		--3Col: {{ users.0.table_color }};
	}
</style>
<!-- {{ users }} -->
<!-- style="var(--3Col) = {{ users.0.table_color }}" -->
	<nav> 
		{% for elem in users %}
		<div class="user">
			<img src="{% static elem.user_prof %}" class="profPic">
			<p
			{% if login == elem.user_name %}
			style="
				color: {{ elem.user_color }};
				font-size: 2em;
			{% endif %}
			">{{ elem.user_name }}{{ elem.task_color }}</p>
			<div class="color" style="background-color: {{ elem.user_color }}"></div>
		</div>
		{% endfor %}

		<a  href="/">
			<span>Go home</span>
			
		</a>
	</nav>

	<content>
		<div class="title"> {{ users.0.table_name}}</div>
		 <div class="main">

			  <div class="sideb">
			    <div class="header"><i class="fa fa-angle-left" aria-hidden="true"></i><span><span class="month"> </span><span class="year"></span></span><i class="fa fa-angle-right" aria-hidden="true"></i></div>
			    
			    <div class="calender">
			      <table>
			        <thead>
			          <tr class="weedays">
			            <th data-weekday="sun" data-column="0">Sun</th>
			            <th data-weekday="mon" data-column="1">Mon</th>
			            <th data-weekday="tue" data-column="2">Tue</th>
			            <th data-weekday="wed" data-column="3">Wed</th>
			            <th data-weekday="thu" data-column="4">Thu</th>
			            <th data-weekday="fri" data-column="5">Fri</th>
			            <th data-weekday="sat" data-column="6">Sat</th>
			          </tr>
			        </thead>
			        <tbody>
			          

			          <tr class="days" data-row="0">
			            <td data-column="0"><div class="day"></div><div class="used"></div></td>
			            <td data-column="1"><div class="day"></div><div class="used"></div></td>
			            <td data-column="2"><div class="day"></div><div class="used"></div></td>
			            <td data-column="3"><div class="day"></div><div class="used"></div></td>
			            <td data-column="4"><div class="day"></div><div class="used"></div></td>
			            <td data-column="5"><div class="day"></div><div class="used"></div></td>
			            <td data-column="6"><div class="day"></div><div class="used"></div></td>

			            </tr>


			            
			          <tr class="days" data-row="1">
			            <td data-column="0"></td>
			            <td data-column="1"></td>
			            <td data-column="2"></td>
			            <td data-column="3"></td>
			            <td data-column="4"></td>
			            <td data-column="5"></td>
			            <td data-column="6"></td>
			          </tr>
			          <tr class="days" data-row="2">
			            <td data-column="0"></td>
			            <td data-column="1"></td>
			            <td data-column="2"></td>
			            <td data-column="3"></td>
			            <td data-column="4"></td>
			            <td data-column="5"></td>
			            <td data-column="6"></td>
			          </tr>
			          <tr class="days" data-row="3">
			            <td data-column="0"></td>
			            <td data-column="1"></td>
			            <td data-column="2"></td>
			            <td data-column="3"></td>
			            <td data-column="4"></td>
			            <td data-column="5"></td>
			            <td data-column="6"></td>
			          </tr>
			          <tr class="days" data-row="4">
			            <td data-column="0"></td>
			            <td data-column="1"></td>
			            <td data-column="2"></td>
			            <td data-column="3"></td>
			            <td data-column="4"></td>
			            <td data-column="5"></td>
			            <td data-column="6"></td>
			          </tr>
			          <tr class="days" data-row="5">
			            <td data-column="0"></td>
			            <td data-column="1"></td>
			            <td data-column="2"></td>
			            <td data-column="3"></td>
			            <td data-column="4"></td>
			            <td data-column="5"></td>
			            <td data-column="6"></td>
			          </tr>
			        </tbody>
			      </table>
			    </div>  
			  </div>
			</div>

	</content>
	
	<aside>
		<header style="background-color: ">
			
			<div class="date">
				<span id="sideDay" >12</span>
				<span id="sideMonth" >july</span>
			</div>

		</header>
		<div class="notes">

		</div>
		{% if login !=  None %}
		<div id="addNewNote" style="background-color: var(--3Col)">
			<div>
				<img src="{% static 'img/add_new_Black.png' %}">
				<span>Add new task</span>
			</div>
		</div>
		{% endif %}

	</aside>

 
	<!-- <script type="text/javascript" src="{% static 'script/homepage.js' %}"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" defer  src="{% static 'script/calender.js' %}"></script>
	<script type="text/javascript" defer src="{% static 'script/tables.js' %}"></script>
    

{% endblock body %}
