{% extends "temp.html" %}

{% block header %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/homeAnim.css' %}">
<title>{{ title }}</title>

{% endblock header %}



{% block body %}

	<div id="background_blurred">
	{% include 'snippets/homepage_form.html'  %}



	</div>

<header>
	<a href="/logout" class="logout">
		<div>Logout</div>
	</a>
	<p>{{ object_list.first.user_id.username }}</p>
	<img src="{% static 'img/profile.png'%}">
</header>

<content>

	<a id="new_table" >
		<div  class="cal new_cal">
			<img class="add_new_img" src="{% static 'img/add_new.png' %}">
		</div>
	</a>

{% include 'snippets/homepage.html' with posts=object_list %}

	

</content>

	<script type="text/javascript" src="{% static 'script/newTable.js' %}"></script>
	<script type="text/javascript" src="{% static 'script/homepage.js' %}"></script>

{% endblock body %}
